
/* <i class="fas fa-chevron-left"></i> */
/* <i class="fas fa-chevron-right"></i> */
/* <i class="fas fa-times"></i> */



/* -----------------------BASIC SETTINGS--------------------------- */


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
}

body{
    background-color: #fff;
}

section{
    border-bottom: 2px solid black;
}

/* ----------------------HEADER STYLES---------------------------- */

header{
    width:100%;
    height: 100vh;
    text-align: center;
    background-color: #000;
}

header p{
    font-size: 70rem;
    line-height: 100vh;
    color:white;
}

/* -------------------NAV STYLES------------------------- */

nav{
    z-index: 1!important;
    position:fixed;
    top:10px;
    left:50%;
    transform: translateX(-50%);
    mix-blend-mode: difference;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    position: relative;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
}

nav ul li a span{
    position: absolute;
    width:100%;
    height: 2px;
    background: #fff;
    bottom: 0;
    left:-100%;
    transition: .3s;
}

nav ul li a:hover span{
    left:0;
}

/* ---------------------------------------SECTION WITH SPORT QUIZ--------------------------- */

section.sport{
    width:100%;
    background-color: #fff;
}

section.sport div.wrapSport{
    margin: 0 auto;
    padding: 100px 0 100px 0;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.sport div.wrapSport div.sign{
    flex-basis: 25%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

section.sport div.wrapSport div.sign img{
    width:250px;
    height: 150px;
    display: block;
    margin:0 auto;
}

section.sport div.wrapSport div.description{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.sport div.wrapSport div.description p{
    font-size: 2.5rem;
    text-align: center;
}

section.sport div.wrapSport div.description button.sportStart{
    width:150px;
    height: 70px;
    font-size: 3rem;
    color:black;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: .2s;
}

section.sport div.wrapSport div.description button.sportStart:hover{
    font-size: 3.8rem;
}

/* -------------------------------------------------SECTION WITH MUSIC QUIZ-------------------------------- */

section.music{
    width:100%;
    background-color: #fff;
}

section.music div.wrapMusic{
    margin: 0 auto;
    padding: 100px 0 100px 0;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section.music div.wrapMusic div.sign{
    flex-basis: 25%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

section.music div.wrapMusic div.sign img{
    width:250px;
    height: 150px;
    display: block;
    margin:0 auto;
}

section.music div.wrapMusic div.description{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.music div.wrapMusic div.description p{
    font-size: 2.5rem;
    text-align: center;
}

section.music div.wrapMusic div.description button.musicStart{
    width:150px;
    height: 70px;
    font-size: 3rem;
    color:black;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: .2s;
}

section.music div.wrapMusic div.description button.musicStart:hover{
    font-size: 3.8rem;
}


/* ------------------------------SECTION WITH HISTORY QUIZ--------------------------- */

section.history{
    width:100%;
    background-color: #fff;
}

section.history div.wrapHistory{
    margin: 0 auto;
    padding: 100px 0 100px 0;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.history div.wrapHistory div.sign{
    flex-basis: 25%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

section.history div.wrapHistory div.sign img{
    width:250px;
    height: 150px;
    display: block;
    margin:0 auto;
}

section.history div.wrapHistory div.description{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.history div.wrapHistory div.description p{
    font-size: 2.5rem;
    text-align: center;
}

section.history div.wrapHistory div.description button.historyStart{
    width:150px;
    height: 70px;
    font-size: 3rem;
    color:black;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: .2s;
}

section.history div.wrapHistory div.description button.historyStart:hover{
    font-size: 3.8rem;
}

/* -----------------------------SPORT QUIZ------------------------ */

section.sportQuiz{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 3!important;
    display: block;
}

section.sportQuiz i:nth-of-type(1){
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 6rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
    transform: translate(-5%,-5%);
}


section.sportQuiz i:nth-of-type(2){
    position: absolute;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

section.sportQuiz i:nth-of-type(3){
    position: absolute;
    top:50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

section.sportQuiz i:hover{
    opacity: 1;
}

section.sportQuiz div.welcome{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section.sportQuiz div.welcome p.welcomeText{
    font-size: 3rem;
}

section.sportQuiz div.welcome button.startSportQuiz{
    font-size: 3rem;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #fff;
    cursor: pointer;
    transition: .2s;
}

section.sportQuiz div.welcome button.startSportQuiz:hover{
    color:white;
    background-color: #000;
}

section.sportQuiz div.wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;

}

section.sportQuiz div.wrap.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.sportQuiz div.wrap p.question{
    font-size: 3rem;

}

section.sportQuiz div.wrap label{
    margin-top: 30px;
    font-size: 3rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:700px;
    height: 70px;
}

section.sportQuiz div.wrap label input{
    margin-right: 30px;
    width:20px;
    height: 20px;
    border:1px solid black;
    background-color: #fff;
}

section.sportQuiz div.wrap.active button.finish{
    margin-top:50px;
    font-size: 4rem;
    padding: 15px 25px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.sportQuiz div.wrap.active button.finish:hover{
    background-color: #000;
    color:white;
}

section.sportQuiz div.result{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section.sportQuiz div.result p{
    font-size: 4rem;
}

section.sportQuiz div.result button.endQuiz{
    margin-top:50px;
    font-size: 5rem;
    padding: 15px 25px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.sportQuiz div.result button.endQuiz:hover{
    background-color: #000;
    color:white;
}

/* -----------------------------MUSIC QUIZ---------------- */

section.musicQuiz{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 3!important;
    display: block;
}

section.musicQuiz i:nth-of-type(1){
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 6rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
    transform: translate(-5%,-5%);
}


section.musicQuiz i:nth-of-type(2){
    position: absolute;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

section.musicQuiz i:nth-of-type(3){
    position: absolute;
    top:50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

section.musicQuiz i:hover{
    opacity: 1;
}

section.musicQuiz div.welcome{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section.musicQuiz div.welcome p.welcomeText{
    font-size: 3rem;
}

section.musicQuiz div.welcome button.startMusicQuiz{
    font-size: 3rem;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #fff;
    cursor: pointer;
    transition: .2s;
}

section.musicQuiz div.welcome button.startMusicQuiz:hover{
    color:white;
    background-color: #000;
}

section.musicQuiz div.wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;

}

section.musicQuiz div.wrap.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.musicQuiz div.wrap p.question{
    font-size: 3rem;

}

section.musicQuiz div.wrap label{
    margin-top: 30px;
    font-size: 3rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:700px;
    height: 70px;
}

section.musicQuiz div.wrap label input{
    margin-right: 30px;
    width:20px;
    height: 20px;
    border:1px solid black;
    background-color: #fff;
}

section.musicQuiz div.wrap.active button.finish{
    margin-top:50px;
    font-size: 4rem;
    padding: 15px 25px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.musicQuiz div.wrap.active button.finish:hover{
    background-color: #000;
    color:white;
}

section.musicQuiz div.result{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section.musicQuiz div.result p{
    font-size: 4rem;
}

section.musicQuiz div.result button.endQuiz{
    margin-top:50px;
    font-size: 5rem;
    padding: 15px 25px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.musicQuiz div.result button.endQuiz:hover{
    background-color: #000;
    color:white;
}
/* -----------------------------------HISTORY QUIZ------------------------- */

section.historyQuiz{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 3!important;
    display: block;
}

section.historyQuiz i:nth-of-type(1){
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 6rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
    transform: translate(-5%,-5%);
}


section.historyQuiz i:nth-of-type(2){
    position: absolute;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

section.historyQuiz i:nth-of-type(3){
    position: absolute;
    top:50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

section.historyQuiz i:hover{
    opacity: 1;
}

section.historyQuiz div.welcome{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section.historyQuiz div.welcome p.welcomeText{
    font-size: 3rem;
}

section.historyQuiz div.welcome button.startHistoryQuiz{
    font-size: 3rem;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #fff;
    cursor: pointer;
    transition: .2s;
}

section.historyQuiz div.welcome button.startHistoryQuiz:hover{
    color:white;
    background-color: #000;
}

section.historyQuiz div.wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;

}

section.historyQuiz div.wrap.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.historyQuiz div.wrap p.question{
    font-size: 3rem;
}

section.historyQuiz div.wrap label{
    margin-top: 30px;
    font-size: 3rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:700px;
    height: 70px;
}

section.historyQuiz div.wrap label input{
    margin-right: 30px;
    width:20px;
    height: 20px;
    border:1px solid black;
    background-color: #fff;
}

section.historyQuiz div.wrap.active button.finish{
    margin-top:50px;
    font-size: 4rem;
    padding: 15px 25px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.historyQuiz div.wrap.active button.finish:hover{
    background-color: #000;
    color:white;
}

section.historyQuiz div.result{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section.historyQuiz div.result p{
    font-size: 4rem;
}

section.historyQuiz div.result button.endQuiz{
    margin-top:50px;
    font-size: 5rem;
    padding: 15px 25px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.historyQuiz div.result button.endQuiz:hover{
    background-color: #000;
    color:white;
}


/* ---------------------FOOTER--------------------- */  

footer{
    width:100%;
    height: 30px;
    background-color: #000;
    color:white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 30px;
}


/* ----------------------MEDIA QUERIES------------------- */

@media only screen and (max-width:1200px){
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width:1000px){

    html{
        font-size: 8px;
    }

    section.historyQuiz div.wrap label{
        margin-top: 30px;
        font-size: 3rem;
        padding: 15px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width:600px;
        height: 65px;
    }

    section.musicQuiz div.wrap label{
        margin-top: 30px;
        font-size: 3rem;
        padding: 15px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width:600px;
        height: 65px;
    }

    section.sportQuiz div.wrap label{
        margin-top: 30px;
        font-size: 3rem;
        padding: 15px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width:600px;
        height: 65px;
    }


}

@media only screen and (max-width:800px){

    html{
        font-size: 7px;
    }

    
    section.history div.wrapHistory div.sign{
        flex-basis: 25%;
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
    }
    
    section.history div.wrapHistory div.sign img{
        width:200px;
        height: 120px;
        display: block;
        margin:0 auto;
    }
    
    
    
    section.history div.wrapHistory div.description button.historyStart{
        width:100px;
        height: 50px;
    }

    section.music div.wrapMusic div.sign{
        flex-basis: 25%;
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
    }
    
    section.music div.wrapMusic div.sign img{
        width:200px;
        height: 120px;
        display: block;
        margin:0 auto;
    }
    
    
    
    section.music div.wrapMusic div.description button.musicStart{
        width:100px;
        height: 50px;
    }

    section.sport div.wrapSportsport div.sign{
        flex-basis: 25%;
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
    }
    
    section.sport div.wrapSportsport div.sign img{
        width:200px;
        height: 120px;
        display: block;
        margin:0 auto;
    }
    
    
    
    section.sport div.wrapSport div.description button.sportStart{
        width:100px;
        height: 50px;
    }

    section.historyQuiz div.wrap label{
        width:500px;
        height: 50px;
    }

    section.musicQuiz div.wrap label{
        width:500px;
        height: 50px;
    }

    section.sportQuiz div.wrap label{
        width:500px;
        height: 50px;
    }

    section.historyQuiz div.wrap.active button.finish{
        margin-top:30px;
        padding: 10px 20px;
    }

    section.musicQuiz div.wrap.active button.finish{
        margin-top:30px;
        padding: 10px 20px;
    }

    section.sportQuiz div.wrap.active button.finish{
        margin-top:30px;
        padding: 10px 20px;
    }

    section.historyQuiz div.result button.endQuiz{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 4rem;
    }

    section.musicQuiz div.result button.endQuiz{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 4rem;
    }

    section.sportQuiz div.result button.endQuiz{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 4rem;
    }

}


@media only screen and (max-width:700px){

    html{
        font-size: 7px;
    }

    header p{
        font-size: 55rem;
    }

    

    
    section.history div.wrapHistory div.sign img{
        width:150px;
        height: 80px;
        display: block;
        margin:0 auto;
    }
    
    
    
    section.history div.wrapHistory div.description button.historyStart{
        width:100px;
        height: 50px;
    }

    section.music div.wrapMusic div.sign img{
        width:150px;
        height: 80px;
        display: block;
        margin:0 auto;
    }
    
    
    
    section.music div.wrapMusic div.description button.musicStart{
        width:100px;
        height: 50px;
    }
    
    section.sport div.wrapSport div.sign img{
        width:150px;
        height: 80px;
        display: block;
        margin:0 auto;
    }
    
    
    
    section.sport div.wrapSport div.description button.sportStart{
        width:100px;
        height: 50px;
    }

    section.historyQuiz div.wrap label{
        width:500px;
        height: 50px;
    }

    section.musicQuiz div.wrap label{
        width:500px;
        height: 50px;
    }

    section.sportQuiz div.wrap label{
        width:500px;
        height: 50px;
    }

    section.historyQuiz div.wrap.active button.finish{
        margin-top:30px;
        padding: 5px 10px;
    }

    section.musicQuiz div.wrap.active button.finish{
        margin-top:30px;
        padding: 5px 10px;
    }

    section.sportQuiz div.wrap.active button.finish{
        margin-top:30px;
        padding: 5px 10px;
    }

    section.historyQuiz div.result button.endQuiz{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 4rem;
    }

    section.musicQuiz div.result button.endQuiz{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 4rem;
    }

    section.sportQuiz div.result button.endQuiz{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 4rem;
    }

}

@media only screen and (max-width:600px){

    html{
        font-size: 6px;
    }

    header p{
        font-size: 50rem;
    }

    section.history div.wrapHistory{
        margin: 0 auto;
        padding: 50px 0 50px 0;
        width:80%;
        flex-direction: column;
    }

    section.history div.wrapHistory div.sign{
        margin-bottom: 30px;
    }
    
    
    section.history div.wrapHistory div.sign img{
        width:150px;
        height: 70px;
    }
    
    
    
    section.history div.wrapHistory div.description button.historyStart{
        width:100px;
        height: 40px;
        margin-top: 30px;
    }

    section.music div.wrapMusic{
        padding: 50px 0 50px 0;
        flex-direction: column-reverse;
    }

    section.music div.wrapMusic div.sign{
        margin-bottom: 30px;
    }
    
    
    section.music div.wrapMusic div.sign img{
        width:150px;
        height: 70px;
    }
    
    
    
    section.music div.wrapMusic div.description button.musicStart{
        width:100px;
        height: 40px;
        margin-top: 30px;
    }


    section.sport div.wrapSport{
        margin: 0 auto;
        padding: 50px 0 50px 0;
        width:80%;
        flex-direction: column;
    }

    section.sport div.wrapSport div.sign{
        margin-bottom: 30px;
    }
    
    
    section.sport div.wrapSport div.sign img{
        width:150px;
        height: 70px;
    }
    
    
    
    
    section.sport div.wrapSport div.description button.sportStart{
        width:100px;
        height: 40px;
        margin-top: 30px;
    }

    section.historyQuiz div.welcome button.startHistoryQuiz{
        padding: 5px 12px;
        margin-top: 20px;
    }

    section.musicQuiz div.welcome button.startMusicQuiz{
        padding: 5px 12px;
        margin-top: 20px;
    }

    section.sportQuiz div.welcome button.startSportQuiz{
        padding: 5px 12px;
        margin-top: 20px;
    }


    section.historyQuiz div.wrap label{
        margin-top: 20px;
        width:400px;
        height: 40px;
    }

    section.musicQuiz div.wrap label{
        margin-top: 20px;
        width:400px;
        height: 40px;
    }

    section.sportQuiz div.wrap label{
        margin-top: 20px;
        width:400px;
        height: 40px;
    }

    section.historyQuiz div.wrap.active button.finish{
        margin-top:20px;
        padding: 5px 10px;
    }

    section.musicQuiz div.wrap.active button.finish{
        margin-top:20px;
        padding: 5px 10px;
    }

    section.sportQuiz div.wrap.active button.finish{
        margin-top:20px;
        padding: 5px 10px;
    }


}




@media only screen and (max-width:500px){


    

    section.historyQuiz div.wrap label{
        margin-top: 20px;
        width:300px;
        height: 30px;
    }

    section.musicQuiz div.wrap label{
        margin-top: 20px;
        width:300px;
        height: 30px;
    }

    section.sportQuiz div.wrap label{
        margin-top: 20px;
        width:300px;
        height: 30px;
    }

    section.historyQuiz div.wrap label input{
        margin-right: 20px;
        width:10px;
        height: 10px;
    }

    section.musicQuiz div.wrap label input{
        margin-right: 20px;
        width:10px;
        height: 10px;
    }

    section.sportQuiz div.wrap label input{
        margin-right: 20px;
        width:10px;
        height: 10px;
    }

}

@media only screen and (max-width:400px){

    section.historyQuiz div.wrap label{
        font-size: 3rem;
        margin-top: 20px;
        width:250px;
        height: 20px;
    }

    section.musicQuiz div.wrap label{
        font-size: 3rem;
        margin-top: 20px;
        width:250px;
        height: 20px;
    }

    section.sportQuiz div.wrap label{
        font-size: 3rem;
        margin-top: 20px;
        width:250px;
        height: 20px;
    }

}


@media only screen and (max-width:400px){
    nav ul li a{
        font-size: 2.5rem;
    }
}